body {
  background: #6565a5;
  font-family: arial, sans-serif;
}

header {
  text-align: center;
}

.col-2:hover,
.col:hover {
  color: #c70fbe;
}

.weather-app {
  border: 1px solid #fff4d7;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 700px;
}

.forecast-temp {
  font-size: 12px;
}

.col-2:hover {
  border: 1px solid #0e1114;
  border-radius: 4px;
}
